<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title><%= @title %></title>
</head>
<body>
  <header>
    <h1><%= @title %></h1>
  </header>
  <main>
    <p><span class="ur">　</span>色の行はURの勇者です(参考値)。</p>
    <table>
      <thead>
        <tr>
          <th>属性</th>
          <th>名称</th>
          <th>HP</th>
          <th>ATK</th>
          <th>踏張</th>
          <th>速度</th>
          <th>CRT</th>
          <th>コスト</th>	
          <th>SP</th>
        </tr>
      </thead>
      <tbody>
        <% @datas.heros.each do |hero| %>
          <% if hero.rare == "UR" %>
            <tr class="ur">
          <% else %>
            <tr>
          <% end %>
            <td class="attr_<%= hero.color %>" >　</td>
            <td class="heroname"><%= hero.name %></td>

            <td>
            <% if hero.hp_class == "" %>
              <%= hero.hp %>
            <% else %>
              <strong class="<%= hero.hp_class %>"><%= hero.hp %></strong>
            <% end %>
            </td>

            <td>
              <% if hero.atk_class == "" %>
                <%= hero.atk %>
              <% else %>
                <strong class="<%= hero.atk_class %>"><%= hero.atk %></strong>
              <% end %>
            </td>


            <td>
              <% if hero.stamina_class == "" %>
                <%= hero.stamina %>
              <% else %>
                <strong class="<%= hero.stamina_class %>"><%= hero.stamina %></strong>
              <% end %>
            </td>

            <td>
              <% if hero.speed_class == "" %>
                <%= hero.speed %>
              <% else %>
                <strong class="<%= hero.speed_class %>"><%= hero.speed %></strong>
              <% end %>
            </td>

            <td>
              <% if hero.crt_class == "" %>
                <%= hero.crt %>
              <% else %>
                <strong class="<%= hero.crt_class %>"><%= hero.crt %></strong>
              <% end %>
            </td>

            <td>
              <% if hero.cost_class == "" %>
                <%= hero.cost %>
              <% else %>
                <strong class="<%= hero.cost_class %>"><%= hero.cost %></strong>
              <% end %>
            </td>

            <td>
              <% if hero.sp_class == "" %>
                <%= hero.sp %>
              <% else %>
                <strong class="<%= hero.sp_class %>"><%= hero.sp %></strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </main>
</body>
</html>
